.header_container {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_icon {
  cursor: pointer;
}
.header_icon svg {
  transition: transform 0.7s ease-in-out;
}
.header_icon:hover svg {
  transform: rotate(360deg);
}
.logo {
  margin: 0px;
  font-weight: 100;
}
.sub_logo {
  margin: 0px;
  font-weight: 300;
}
.Navbar_container {
  display: flex;
  align-items: center;
  gap: 2rem;
  /* border: 1px solid ;
  border-radius: 2.4rem; */
  height: 30px;
  padding: 0 1rem;
}
.Navlink{
  text-decoration: none;
}

.Navlink:hover{
  color: #fff;
}
.active{
  color: #fff;
}
