body {
  margin: 0px;
  padding: 0 1.6rem;
}

.layout_container {
  height: 100%;
  background: radial-gradient(140% 107.13% at 50% 10%, transparent 37.41%, #63e 69.27%, #fff 100%);
  border-radius: 2.4rem;
  border: 1px solid #2a2b3a;
  padding: 1.6rem;
}


:root {
  /* Your default theme */
  --background: #010314;
  --foreground: white;
}

[data-theme="dark"] {
  --background: #010314;
  --foreground: white;
}

[data-theme="light"] {
  --background: red;
  --foreground: #010314;
}

@media only screen and (max-width: 830px) {
  .layout_container {
    padding: 0.6rem;
  }
}
